/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* コンテナの設定 */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* ヘッダー */
header {
    background: #333;
    color: white;
    padding: 20px 0;
}

#logo {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 50px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* メインビジュアルの画像サイズ調整 */
.main-visual img {
    width: 80%; /* 幅を画面幅の80%に設定 */
    max-width: 1000px; /* 最大幅を1000pxに制限 */
    height: auto; /* 高さは自動で調整 */
    display: block;
    margin: 0 auto; /* 中央揃え */
}

/* 各セクション */
.section-container {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* フッター */
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 20px 0;
}
